.oxsn_xs_visibility_initial {
	visibility: initial;
}

@media (min-width: 544px) {
	.oxsn_sm_visibility_initial {
		visibility: initial !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_visibility_initial {
		visibility: initial !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_visibility_initial {
		visibility: initial !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_visibility_initial {
		visibility: initial !important;
	}
}