.oxsn_xs_margin_24px {
	margin: 24px;
}

@media (min-width: 544px) {
	.oxsn_sm_margin_24px {
		margin: 24px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_margin_24px {
		margin: 24px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_margin_24px {
		margin: 24px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_margin_24px {
		margin: 24px !important;
	}
}