.oxsn_xs_padding_top_89px {
	padding-top: 89px;
}

@media (min-width: 544px) {
	.oxsn_sm_padding_top_89px {
		padding-top: 89px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_padding_top_89px {
		padding-top: 89px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_padding_top_89px {
		padding-top: 89px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_padding_top_89px {
		padding-top: 89px !important;
	}
}