.oxsn_xs_bottom_43px {
	bottom: 43px;
}

@media (min-width: 544px) {
	.oxsn_sm_bottom_43px {
		bottom: 43px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_bottom_43px {
		bottom: 43px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_bottom_43px {
		bottom: 43px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_bottom_43px {
		bottom: 43px !important;
	}
}