.oxsn_xs_bottom_15px {
	bottom: 15px;
}

@media (min-width: 544px) {
	.oxsn_sm_bottom_15px {
		bottom: 15px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_bottom_15px {
		bottom: 15px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_bottom_15px {
		bottom: 15px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_bottom_15px {
		bottom: 15px !important;
	}
}