.oxsn_xs_bottom_76px {
	bottom: 76px;
}

@media (min-width: 544px) {
	.oxsn_sm_bottom_76px {
		bottom: 76px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_bottom_76px {
		bottom: 76px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_bottom_76px {
		bottom: 76px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_bottom_76px {
		bottom: 76px !important;
	}
}