.oxsn_xs_bottom_38px {
	bottom: 38px;
}

@media (min-width: 544px) {
	.oxsn_sm_bottom_38px {
		bottom: 38px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_bottom_38px {
		bottom: 38px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_bottom_38px {
		bottom: 38px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_bottom_38px {
		bottom: 38px !important;
	}
}