.oxsn_xs_bottom_5px {
	bottom: 5px;
}

@media (min-width: 544px) {
	.oxsn_sm_bottom_5px {
		bottom: 5px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_bottom_5px {
		bottom: 5px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_bottom_5px {
		bottom: 5px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_bottom_5px {
		bottom: 5px !important;
	}
}