.oxsn_xs_bottom_22px {
	bottom: 22px;
}

@media (min-width: 544px) {
	.oxsn_sm_bottom_22px {
		bottom: 22px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_bottom_22px {
		bottom: 22px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_bottom_22px {
		bottom: 22px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_bottom_22px {
		bottom: 22px !important;
	}
}