.oxsn_xs_float_initial {
	float: initial;
}

@media (min-width: 544px) {
	.oxsn_sm_float_initial {
		float: initial !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_float_initial {
		float: initial !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_float_initial {
		float: initial !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_float_initial {
		float: initial !important;
	}
}