.oxsn_xs_float_inherit {
	float: inherit;
}

@media (min-width: 544px) {
	.oxsn_sm_float_inherit {
		float: inherit !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_float_inherit {
		float: inherit !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_float_inherit {
		float: inherit !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_float_inherit {
		float: inherit !important;
	}
}