.oxsn_xs_text_align_justify {
	text-align: justify;
}

@media (min-width: 544px) {
	.oxsn_sm_text_align_justify {
		text-align: justify !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_text_align_justify {
		text-align: justify !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_text_align_justify {
		text-align: justify !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_text_align_justify {
		text-align: justify !important;
	}
}