.oxsn_xs_padding_9px {
	padding: 9px;
}

@media (min-width: 544px) {
	.oxsn_sm_padding_9px {
		padding: 9px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_padding_9px {
		padding: 9px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_padding_9px {
		padding: 9px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_padding_9px {
		padding: 9px !important;
	}
}