.oxsn_xs_padding_7px {
	padding: 7px;
}

@media (min-width: 544px) {
	.oxsn_sm_padding_7px {
		padding: 7px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_padding_7px {
		padding: 7px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_padding_7px {
		padding: 7px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_padding_7px {
		padding: 7px !important;
	}
}