.oxsn_xs_padding_51px {
	padding: 51px;
}

@media (min-width: 544px) {
	.oxsn_sm_padding_51px {
		padding: 51px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_padding_51px {
		padding: 51px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_padding_51px {
		padding: 51px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_padding_51px {
		padding: 51px !important;
	}
}