.oxsn_xs_padding_85px {
	padding: 85px;
}

@media (min-width: 544px) {
	.oxsn_sm_padding_85px {
		padding: 85px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_padding_85px {
		padding: 85px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_padding_85px {
		padding: 85px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_padding_85px {
		padding: 85px !important;
	}
}