.oxsn_xs_padding_40px {
	padding: 40px;
}

@media (min-width: 544px) {
	.oxsn_sm_padding_40px {
		padding: 40px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_padding_40px {
		padding: 40px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_padding_40px {
		padding: 40px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_padding_40px {
		padding: 40px !important;
	}
}