.oxsn_xs_left_29px {
	left: 29px;
}

@media (min-width: 544px) {
	.oxsn_sm_left_29px {
		left: 29px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_left_29px {
		left: 29px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_left_29px {
		left: 29px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_left_29px {
		left: 29px !important;
	}
}