.oxsn_xs_left_19px {
	left: 19px;
}

@media (min-width: 544px) {
	.oxsn_sm_left_19px {
		left: 19px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_left_19px {
		left: 19px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_left_19px {
		left: 19px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_left_19px {
		left: 19px !important;
	}
}