.oxsn_xs_margin_right_76px {
	margin-right: 76px;
}

@media (min-width: 544px) {
	.oxsn_sm_margin_right_76px {
		margin-right: 76px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_margin_right_76px {
		margin-right: 76px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_margin_right_76px {
		margin-right: 76px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_margin_right_76px {
		margin-right: 76px !important;
	}
}