.oxsn_xs_display_inherit {
	display: inherit;
}

@media (min-width: 544px) {
	.oxsn_sm_display_inherit {
		display: inherit !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_display_inherit {
		display: inherit !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_display_inherit {
		display: inherit !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_display_inherit {
		display: inherit !important;
	}
}