.oxsn_xs_display_run_in {
	display: run-in;
}

@media (min-width: 544px) {
	.oxsn_sm_display_run_in {
		display: run-in !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_display_run_in {
		display: run-in !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_display_run_in {
		display: run-in !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_display_run_in {
		display: run-in !important;
	}
}