.oxsn_xs_display_none {
	display: none;
}

@media (min-width: 544px) {
	.oxsn_sm_display_none {
		display: none !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_display_none {
		display: none !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_display_none {
		display: none !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_display_none {
		display: none !important;
	}
}