.oxsn_xs_z_index_1000 {
	z-index: 1000;
}

@media (min-width: 544px) {
	.oxsn_sm_z_index_1000 {
		z-index: 1000 !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_z_index_1000 {
		z-index: 1000 !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_z_index_1000 {
		z-index: 1000 !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_z_index_1000 {
		z-index: 1000 !important;
	}
}