.oxsn_xs_z_index_6 {
	z-index: 6;
}

@media (min-width: 544px) {
	.oxsn_sm_z_index_6 {
		z-index: 6 !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_z_index_6 {
		z-index: 6 !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_z_index_6 {
		z-index: 6 !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_z_index_6 {
		z-index: 6 !important;
	}
}