.oxsn_xs_margin_left_4px {
	margin-left: 4px;
}

@media (min-width: 544px) {
	.oxsn_sm_margin_left_4px {
		margin-left: 4px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_margin_left_4px {
		margin-left: 4px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_margin_left_5px {
		margin-left: 5px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_margin_left_5px {
		margin-left: 5px !important;
	}
}