.oxsn_xs_width_78pr {
	width: 78%;
}

@media (min-width: 544px) {
	.oxsn_sm_width_78pr {
		width: 78% !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_width_78pr {
		width: 78% !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_width_78pr {
		width: 78% !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_width_78pr {
		width: 78% !important;
	}
}