.oxsn_xs_width_31pr {
	width: 31%;
}

@media (min-width: 544px) {
	.oxsn_sm_width_31pr {
		width: 31% !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_width_31pr {
		width: 31% !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_width_31pr {
		width: 31% !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_width_31pr {
		width: 31% !important;
	}
}