.oxsn_xs_width_10pr {
	width: 10%;
}

@media (min-width: 544px) {
	.oxsn_sm_width_10pr {
		width: 10% !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_width_10pr {
		width: 10% !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_width_10pr {
		width: 10% !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_width_10pr {
		width: 10% !important;
	}
}