.oxsn_xs_width_77pr {
	width: 77%;
}

@media (min-width: 544px) {
	.oxsn_sm_width_77pr {
		width: 77% !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_width_77pr {
		width: 77% !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_width_77pr {
		width: 77% !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_width_77pr {
		width: 77% !important;
	}
}