.oxsn_xs_width_64pr {
	width: 64%;
}

@media (min-width: 544px) {
	.oxsn_sm_width_64pr {
		width: 64% !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_width_64pr {
		width: 64% !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_width_64pr {
		width: 64% !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_width_64pr {
		width: 64% !important;
	}
}