.oxsn_xs_width_83pr {
	width: 83%;
}

@media (min-width: 544px) {
	.oxsn_sm_width_83pr {
		width: 83% !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_width_83pr {
		width: 83% !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_width_83pr {
		width: 83% !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_width_83pr {
		width: 83% !important;
	}
}