.oxsn_xs_padding_right_62px {
	padding-right: 62px;
}

@media (min-width: 544px) {
	.oxsn_sm_padding_right_62px {
		padding-right: 62px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_padding_right_62px {
		padding-right: 62px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_padding_right_62px {
		padding-right: 62px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_padding_right_62px {
		padding-right: 62px !important;
	}
}