.oxsn_xs_right_31px {
	right: 31px;
}

@media (min-width: 544px) {
	.oxsn_sm_right_31px {
		right: 31px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_right_31px {
		right: 31px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_right_31px {
		right: 31px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_right_31px {
		right: 31px !important;
	}
}