.oxsn_xs_right_75px {
	right: 75px;
}

@media (min-width: 544px) {
	.oxsn_sm_right_75px {
		right: 75px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_right_75px {
		right: 75px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_right_75px {
		right: 75px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_right_75px {
		right: 75px !important;
	}
}