.oxsn_xs_right_15px {
	right: 15px;
}

@media (min-width: 544px) {
	.oxsn_sm_right_15px {
		right: 15px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_right_15px {
		right: 15px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_right_15px {
		right: 15px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_right_15px {
		right: 15px !important;
	}
}