.oxsn_xs_right_18px {
	right: 18px;
}

@media (min-width: 544px) {
	.oxsn_sm_right_18px {
		right: 18px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_right_18px {
		right: 18px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_right_18px {
		right: 18px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_right_18px {
		right: 18px !important;
	}
}