.oxsn_xs_right_79px {
	right: 79px;
}

@media (min-width: 544px) {
	.oxsn_sm_right_79px {
		right: 79px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_right_79px {
		right: 79px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_right_79px {
		right: 79px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_right_79px {
		right: 79px !important;
	}
}