.oxsn_xs_right_96px {
	right: 96px;
}

@media (min-width: 544px) {
	.oxsn_sm_right_96px {
		right: 96px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_right_96px {
		right: 96px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_right_96px {
		right: 96px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_right_96px {
		right: 96px !important;
	}
}