.oxsn_xs_top_93px {
	top: 93px;
}

@media (min-width: 544px) {
	.oxsn_sm_top_93px {
		top: 93px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_top_93px {
		top: 93px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_top_93px {
		top: 93px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_top_93px {
		top: 93px !important;
	}
}