.oxsn_xs_top_15px {
	top: 15px;
}

@media (min-width: 544px) {
	.oxsn_sm_top_15px {
		top: 15px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_top_15px {
		top: 15px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_top_15px {
		top: 15px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_top_15px {
		top: 15px !important;
	}
}