.oxsn_xs_padding_left_90px {
	padding-left: 90px;
}

@media (min-width: 544px) {
	.oxsn_sm_padding_left_90px {
		padding-left: 90px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_padding_left_90px {
		padding-left: 90px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_padding_left_90px {
		padding-left: 90px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_padding_left_90px {
		padding-left: 90px !important;
	}
}