.oxsn_xs_margin_bottom_91px {
	margin-bottom: 91px;
}

@media (min-width: 544px) {
	.oxsn_sm_margin_bottom_91px {
		margin-bottom: 91px !important;
	}
}

@media (min-width: 768px) {
	.oxsn_md_margin_bottom_91px {
		margin-bottom: 91px !important;
	}
}

@media (min-width: 992px) {
	.oxsn_lg_margin_bottom_91px {
		margin-bottom: 91px !important;
	}
}

@media (min-width: 1200px) {
	.oxsn_xl_margin_bottom_91px {
		margin-bottom: 91px !important;
	}
}